@import 'index';


.main_container {
    margin: 0 auto;
}

.m_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89deg, #F3F3F3 0%, #F3F3F3 33.33%, #F3F3F3 75%, rgba(243, 243, 243, 0.00) 87.50%);    height: 835px * $k;
    margin: 0 auto;
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 850px * $k;
        gap: 45px * $k;
        margin-left: 227px * $k;
        &__title {
            color: #000;
            font-size: 64px * $k;
            font-weight: 700 * $k;
            line-height: 96px * $k;
            width: 100%;
        }
        &__subtitle {
            color: #000;
            font-size: 24px * $k;
            line-height: 50px * $k;
            width: 100%;
        }
    }
    &__btn_container {
        width: 100%;
        button {
            width: 344px * $k;
            background-color: #D42176;;
            color: #FFF;
            text-align: center;
            font-size: 25px * $k;
            font-weight: 500;
            line-height: 64px * $k;
            letter-spacing: 0.5px * $k;
            border: none;
            border-radius: 15px * $k;
        }

    }

&__img__container {
    height: 100%;
    &__item {
        width: 759px * $k;
        height: 100%;

        div {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
}

.postflopizer_detail_container__title {
        width: 1164px * $k;
        margin:0 auto;
        color: #000;
        text-align: center;
        font-size: 45px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 0.9px * $k;
    }





//Coachers

.coachers_container {
    display: flex;
    flex-direction: column;
    gap: 165px * $k;
    margin-top: 122px * $k;
}

.coachers_list_flex {
    display: flex;
    justify-content: center;
    gap: 65px * $k;
}

.coacher_item {
    display: flex;
    width: 576px * $k;
    gap: 22px * $k;
    &__img {
        width: 166px * $k;
        height: 166px * $k;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        width: 387px * $k;
        display: flex;
        flex-direction: column;
        gap: 20px * $k;
        align-items: center;
        justify-content: center;
        &__quote {
            width:100%;
            color: #000;
            font-size: 20px * $k;
            line-height: 35px * $k;
            letter-spacing: 0.4px * $k;
        }
        &__author {
            width:100%;
            color: #000;
            font-size: 20px * $k;
            font-weight: 600;
            line-height: 35px * $k;
            letter-spacing: 0.4px * $k;
        }
    }
}

//PRICE

.price_container {
    display: flex;
    flex-direction: column;
    gap: 50px * $k;
    margin-top: 163px * $k;
    margin-bottom: 180px * $k;

}



.price_container_flex {
    display: flex;
    gap: 32px * $k;
    justify-content: center;
    position: relative;
    width: 1240px * $k;
    margin:0 auto;
}

.price_title_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.price_title {
    color: #000;
    text-align: center;
    font-size: 45px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.9px * $k;
}

.price_item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;
    min-width: 0;
    border-top:16px solid rgb(76, 126, 191);
    border-bottom: 1px solid rgb(76, 126, 191);
    border-left: 1px solid rgb(76, 126, 191);
    border-right: 1px solid rgb(76, 126, 191);
    border-radius: 6px;
    overflow:hidden;
    max-width: 316px;
    width: 100%;
    &__content {
        &__main {
            box-sizing:border-box;
            width:auto;
            max-width:100%;
            padding-bottom: 0;
            padding-left: 33px;
            padding-right: 33px;
            padding-top: 58px;
            line-height: 23px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 1px solid rgb(208, 208, 211);
        }
        &__info {
            display: flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            align-items: flex-start;
            margin-top: 36px;
            padding: 0 44px 20px;
            border-left: 0 none;
            ul {
                margin-top: 16px;
                margin-bottom: 16px;
                li {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 1rem;
                    list-style: none;
                    font-weight: 500;
                    line-height: 24px;
                    margin-left: -40px;
                    span {
                        margin-right: 16px;
                        width: 24px;
                        height: 24px;
                    }
                }
                li:not(:first-child) {
                    margin-top: 8px;
                }
                li:last-child {
                    position: relative;
                    left: -10px;
                    list-style: none;
                    margin-top: 1.5rem;
                    font-weight: 400;
                    font-style: italic;
                }
            }
        }

    }
    &__header {
        width: 100%;
        height: 34px;
        background-color: #A19FAA;
    }
    &__title {
        margin-bottom: 8px;
        text-align: left;
        font-size: 2.25rem;
        line-height: 2.875rem;
        font-weight: 700;
        margin-top: 0;
    }
    &__list {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        &__item {
            font-weight: 500;
            font-size: 1rem;
            margin-left: -40px;
        }
        &__item:not(:first-child) {
            font-weight: 700;
            margin-bottom: 32px;
        }
    }
    &__price {
        width: 376px;
        margin: 0 auto;
        color: #000;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 1px;
        padding-bottom: 113px;
        padding-top: 120px;

    }
    &__container_btn {
        margin-bottom: 32px;
/*        padding-top: 8px;
        padding-bottom: 8px;*/
        width: 100%;
        display: inline-flex;
        max-width: 246px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        min-width: 160px;
        min-height: 52px;
        font-size: 1.125rem;
        border: 2px solid transparent;
        transition: background-color 0.2s linear 0s;
        color: #fff;
        background-color: rgb(76, 126, 191);
        cursor: pointer;
        &:hover {
            background-color: rgb(76, 126, 191);
        }
        span {
            font-size: 1.125rem;

        }
    }
    &__btn {

    }
}

.price_item__icm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;
    min-width: 0;
    border-top:16px solid #d5d6dc;
    border-bottom: 1px solid #d5d6dc;
    border-left: 1px solid #d5d6dc;
    border-right: 1px solid #d5d6dc;
    border-radius: 6px;
    overflow:hidden;
    max-width: 316px;
    width: 100%;

    &__header {
        width: 100%;
        height: 34px;
        background-color: #D42176;
    }
    &__title {
        margin-top: 121px;
        margin-left: 76px;
        max-width: 375px;
        color: #000;
        font-size: 45px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 0.9px;
    }
    &__list {
        width: 100%;
        list-style: none;
        margin-bottom: 26px;
        margin-top: 18px;
        &__item {
            width: 505px;
            margin: 0 auto;
            color: #000;
            font-size: 25px;
            line-height: 64px;
            letter-spacing: 0.5px;
        }
        &__item:nth-child(2) {
            line-height: 40px;
        }

    }
    &__price {
        display: flex;
        width: 100%;
        flex-flow: row;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 47px;
        font-weight: 700;
        &__sale {
            font-size: 3.5rem;
            line-height: 4rem;
        }
        &__time {
            position: relative;
            font-size: 0.875rem;
            font-weight: 700;
            align-self: flex-end;
            margin-left: 4px;
            bottom: 10px;
            text-transform: uppercase;
            &__slash {
                @extend .price_item__icm__price__time;
                font-weight: 400;
            }
        }


    }
    &__container_btn {
        margin-bottom: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: inline-flex;
        width: 100%;
        max-width: 246px;
        font-family: var(--font-highlight);
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        min-width: 165px;
        font-size: 1.125rem;
        border: 2px solid #4c7ebf;
        transition: background-color 0.2s linear 0s;
        color: #4c7ebf;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            background-color: #4c7ebf;
            color:#fff;
        }
        span {
            font-size: 1.125rem;

        }
    }
    &__btn {
        display: flex;
        cursor: pointer;
        justify-content: center;
        margin: 0 auto;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: 0.5px;
        width: 344px;
        height: 60px;
        background-color: #D42176;
        border-radius: 15px;
        transition: background-color 0.2s linear 0s;
    }
}



//price options

.price_options_container {
    background-color: #D42176;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_options_container_other {
    background-color: #FF5959;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price_options {
    &__text {
        display: flex;
        flex-direction: column;
        gap: 65px * $k;
        width: 1165px * $k;
        margin-top: 167px * $k;
        &__title {
            width: 100%;
            color: #FFF;
            text-align: center;
            font-size: 45px * $k;
            font-weight: 600;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
        &__subtitle {
            width: 100%;
            text-align: center;

            color: #FFF;
            font-size: 45px * $k;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
    }
    &__btn_container {
        margin-top: 110px * $k;
        margin-bottom: 197px * $k;
        width: 345px * $k;
        &__btn {
            cursor: pointer;
            width: 100%;
            color: #000;
            text-align: center;
            font-size: 25px * $k;
            font-weight: 500;
            line-height: 64px * $k;
            letter-spacing: 0.5px * $k;
            border: none;
            border-radius: 15px * $k;
        }
    }
}

//skills
.skills_container {
    background: #DAF7FF;
    margin-top: 186px * $k;
    display: flex;
    flex-direction: column;
    gap: 151px * $k;
}

.skills_title {
    color: #000;
    padding-top: 118px * $k;
    text-align: center;
    font-size: 45px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.9px * $k;
    span {
        @extend .skills_title;
        color: #D42176;

    }
}

.skills_list {
    display: flex;
    gap: 45px * $k;
    width: 1500px * $k;
    margin: 0 auto;
    justify-content: center;
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 123px * $k;
    }
}

.skills_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 551px * $k;
    &__title {
        width: 551px * $k;
        color: #000;
        font-size: 45px * $k;
        font-weight: 700;
        letter-spacing: 0.9px * $k;
        span {
            color: #D42176;
            font-size: 45px * $k;

        }
        &__other {
            @extend .skills_item__title;
            width: 681px * $k;
        }
    }

    &__subtitle {
        width: 100%;
        color: #000;
        font-size: 30px * $k;
        font-weight: 500;
        line-height: 45px * $k;
        letter-spacing: 0.6px * $k;
    }
}

.skills_btn {
    cursor: pointer;
    padding-bottom: 108px * $k;
    color: #D42176;
    text-align: center;
    font-size: 25px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.5px * $k;
    text-decoration-line: underline;
}

//Strategy editor
.carusel_item_animated {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carusel_item_visible {
    opacity: 1;
    transform: translateY(0);

}
.strategy_container {
    margin-top: 243px * $k;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
    padding-left: 48px;
    padding-right: 48px;
}

.carusel_btns {
    margin: 0 auto;
}

.carusel_btns_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 100%;
    gap: 56px;

    &__item {
        display: inline-flex;
        align-items: flex-start;
        background-color: transparent;
        border-width: 0 0 4px;
        border-style: none none solid;
        border-top-color: initial;
        border-right-color: initial;
        border-left-color: initial;
        border-image: initial;
        border-bottom-color: transparent;
        padding: 0 0 4px;
        font-size: 2.25rem;
        font-weight: 700;
        text-align: left;
        color: #9e9eae;
        flex: 0 0 auto;
        transition: color 0.15s ease 0s;

        &__active {
            @extend .carusel_btns_wrapper__item;
            border-width: 0 0 4px;
            color: #282828;
            border-bottom-color: #282828;
        }

        &:hover {
            color: #282828;
            border-bottom: 4px solid #282828;
        }
    }
}

.carusel_item {
    display: none;
    transform: translateY(20px);
    transition: all 2s linear;
}
.carusel_item__active {
        display: block;
        transform: translateY(0);
}

.carusel_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy_text {
    max-width: 42%;
    &__wrapper {
        padding-left: 38px;
        padding-right: 26px;
        max-width: 385px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__title {
        color: #000;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: 0.9px * $k;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__subtitle {
        color: #000;
        line-height: 1.56;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    &__btn {
        cursor: pointer;
        color: #D42176;
        letter-spacing: 0.6px;
        display: inline-flex;
        max-width: 100%;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        background-color: transparent;
        text-decoration: none;
        justify-content: flex-start;
        span {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.25rem;
            transition: border-color 0.2s linear 0s;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid #D42176;
            }
        }

    }
    &__list {
        @extend .strategy_text;
        color: #A19FAA;
        font-size: 45px * $k;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 28px * $k;
        margin-bottom: 50px * $k;
        &__item {
            font-weight: 700;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
    }
}

.strategy_img {
    max-width: 640px;
    padding-left: 16px;
    padding-right: 16px;
    img {
        width: 100%;
        height: 100%;
    }
}

