$k:1;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_container {
    margin: 0 auto;
}

.m_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89deg, #F3F3F3 0%, #F3F3F3 33.33%, #F3F3F3 75%, rgba(243, 243, 243, 0.00) 87.50%);
    height: 835px * $k;
    margin: 0 auto;
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 850px * $k;
        gap: 45px * $k;
        margin-left: 227px * $k;
        &__title {
            color: #000;
            font-size: 64px * $k;
            font-weight: 700 * $k;
            line-height: 96px * $k;
            width: 100%;
        }
        &__subtitle {
            color: #000;
            font-size: 24px * $k;
            line-height: 25px * $k;
            width: 100%;
        }
    }
    &__btn_container {
        width: 100%;
        button {
            width: 344px * $k;
            height: 60px * $k;
            background-color: #D42176;;
            color: #FFF;
            text-align: center;
            font-size: 25px * $k;
            font-weight: 500;
            line-height: 64px * $k;
            letter-spacing: 0.5px * $k;
            border: none;
            border-radius: 15px * $k;
        }

    }
    &__img {
        width: 815px * $k;
        height: 902px * $k;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.postflopizer_detail_container__title {
        width: 1164px * $k;
        margin:0 auto;
        color: #000;
        text-align: center;
        font-size: 45px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 0.9px * $k;
    }





//Coachers

.coachers_container {
    display: flex;
    flex-direction: column;
    gap: 165px * $k;
    margin-top: 122px * $k;
}

.coachers_list_flex {
    display: flex;
    justify-content: center;
    gap: 65px * $k;
}

.coacher_item {
    display: flex;
    width: 576px * $k;
    gap: 22px * $k;
    &__img {
        width: 166px * $k;
        height: 166px * $k;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        width: 387px * $k;
        display: flex;
        flex-direction: column;
        gap: 20px * $k;
        align-items: center;
        justify-content: center;
        &__quote {
            width:100%;
            color: #000;
            font-size: 20px * $k;
            line-height: 35px * $k;
            letter-spacing: 0.4px * $k;
        }
        &__author {
            width:100%;
            color: #000;
            font-size: 20px * $k;
            font-weight: 600;
            line-height: 35px * $k;
            letter-spacing: 0.4px * $k;
        }
    }
}

//PRICE

.price_container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 110px * $k;
    margin-top: 163px * $k;
    margin-bottom: 180px * $k;
    img {
        position: absolute;
        top: 85px;
        right: 0;
        width: 345px;
        height: 345px;
    }
}

.price_discount_star {
    position: absolute;
    top: 65px;
    right: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-image: url("../img/Star 2.svg");
    background-repeat: no-repeat;
    color: #000;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.5px;
    span {
        width: 100%;
        text-align: center;
        color: #D42176;
        font-weight: 700;
        font-size: 50px;
        letter-spacing: 1px;
    }
    div {
        width: 240px;
        text-align: center;
    }
}

.price_container_flex {
    display: flex;
    gap: 270px * $k;
    justify-content: center;
}
.price_title {
    color: #000;
    text-align: center;
    font-size: 45px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.9px * $k;
}
.price_item {
    width: 658px * $k;
    border: 5px * $k solid #A19FAA;
    height: 855px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 510px;
        min-height: 600px;
        padding-top: 121px * $k;
        padding-left: 76px * $k;
    }
    &__header {
        width: 100%;
        height: 34px * $k;
        background-color: #A19FAA;
    }
    &__title {
        width: 100%;
        color: #000;
        font-size: 45px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 0.9px * $k;
    }
    &__list {
        width: 100%;
        list-style: none;
        min-height: 193px;
        margin-bottom: 26px * $k;
        margin-top: 18px * $k;
        &__item {
            width: 100%;
            color: #A19FAA;
            font-size: 25px * $k;
            line-height: 64px * $k;
            letter-spacing: 0.5px;
        }
    }
    &__price {
        width: 376px * $k;
        margin: 0 auto;
        color: #000;
        text-align: center;
        font-size: 50px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 1px * $k;
        padding-bottom: 113px * $k;
        padding-top: 120px * $k;

    }
    &__container_btn {
        width: 100%;
        margin-bottom: 150px * $k;
    }
    &__btn {
        display: flex;
        cursor: pointer;
        justify-content: center;
        margin: 0 auto;
        border: 3px * $k solid #A19FAA;
        color: #000;
        text-align: center;
        font-size: 25px * $k;
        font-weight: 500;
        line-height: 64px * $k;
        letter-spacing: 0.5px * $k;
        width: 344px * $k;
        height: 60px * $k;
        background-color: transparent;
        border-radius: 15px * $k;
    }
}

.price_item__icm {
    width: 658px * $k;
    border: 5px * $k solid #D42176;
    height: 855px;

    &__header {
        width: 100%;
        height: 34px * $k;
        background-color: #D42176;
    }
    &__title {
        margin-top: 121px * $k;
        margin-left: 76px * $k;
        max-width: 375px * $k;
        color: #000;
        font-size: 45px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 0.9px * $k;
    }
    &__list {
        width: 100%;
        list-style: none;
        margin-bottom: 26px * $k;
        margin-top: 18px * $k;
        &__item {
            width: 505px * $k;
            margin: 0 auto;
            color: #000;
            font-size: 25px * $k;
            line-height: 64px * $k;
            letter-spacing: 0.5px * $k;
        }
        &__item:nth-child(2) {
            line-height: 40px * $k;
        }

    }
    &__price {
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 50px * $k;
        font-weight: 600;
        line-height: 64px * $k;
        letter-spacing: 1px * $k;
        padding-bottom: 57px * $k;
        padding-top: 65px * $k;
        &__true {
            color: #A19FAA;
            text-decoration: line-through;
        }
        &__sale {
        }
        &__time {
            width: 100%;
            color: #A19FAA;
            text-align: center;
            font-size: 25px * $k;
            letter-spacing: 0.5px * $k;
        }
    }
    &__container_btn {
        width: 100%;
        margin-bottom: 150px * $k;
    }
    &__btn {
        display: flex;
        cursor: pointer;
        justify-content: center;
        margin: 0 auto;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 25px * $k;
        font-weight: 500;
        line-height: 64px * $k;
        letter-spacing: 0.5px * $k;
        width: 344px * $k;
        height: 60px * $k;
        background-color: #D42176;
        border-radius: 15px * $k;
    }
}



//price options

.price_options_container {
    background-color: #D42176;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price_options {
    &__text {
        display: flex;
        flex-direction: column;
        gap: 65px * $k;
        width: 1165px * $k;
        margin-top: 167px * $k;
        &__title {
            width: 100%;
            color: #FFF;
            text-align: center;
            font-size: 45px * $k;
            font-weight: 600;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
        &__subtitle {
            width: 100%;
            text-align: center;

            color: #FFF;
            font-size: 45px * $k;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
    }
    &__btn_container {
        margin-top: 110px * $k;
        margin-bottom: 197px * $k;
        width: 345px * $k;
        &__btn {
            cursor: pointer;
            width: 100%;
            color: #000;
            text-align: center;
            font-size: 25px * $k;
            font-weight: 500;
            line-height: 64px * $k;
            letter-spacing: 0.5px * $k;
            border: none;
            border-radius: 15px * $k;
        }
    }
}

//skills
.skills_container {
    background: #DAF7FF;
    margin-top: 186px * $k;
    display: flex;
    flex-direction: column;
    gap: 151px * $k;
}

.skills_title {
    color: #000;
    padding-top: 118px * $k;
    text-align: center;
    font-size: 45px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.9px * $k;
    span {
        @extend .skills_title;
        color: #D42176;
    }
}

.skills_list {
    display: flex;
    gap: 45px * $k;
    width: 1500px * $k;
    margin: 0 auto;
    justify-content: center;
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 123px * $k;
    }
}

.skills_item {
    width: 551px * $k;
    &__title {
        width: 680px * $k;
        color: #000;
        font-size: 45px * $k;
        font-weight: 700;
        letter-spacing: 0.9px * $k;
        span {
            color: #D42176;
        }
    }
    &__subtitle {
        width: 100%;
        color: #000;
        font-size: 30px * $k;
        font-weight: 500;
        line-height: 45px * $k;
        letter-spacing: 0.6px * $k;
    }
}

.skills_btn {
    cursor: pointer;
    padding-bottom: 108px * $k;
    color: #D42176;
    text-align: center;
    font-size: 25px * $k;
    font-weight: 700;
    line-height: 64px * $k;
    letter-spacing: 0.5px * $k;
    text-decoration-line: underline;
}

//Strategy editor

.strategy_container {
    margin-top: 243px * $k;
    display: flex;
    justify-content: center;
    gap: 25px * $k;
}

.strategy_text {
    width: 614px * $k;
    &__title {
        @extend .strategy_text;
        color: #000;
        font-size: 45px * $k;
        font-weight: 700;
        line-height: 64px * $k;
        letter-spacing: 0.9px * $k;
    }

    &__subtitle {
        @extend .strategy_text;
        color: #000;
        font-size: 30px * $k;
        font-style: normal;
        font-weight: 500;
        line-height: 64px * $k;
        letter-spacing: 0.6px * $k;
    }
    &__btn {
        @extend .strategy_text;
        cursor: pointer;
        color: #D42176;
        font-size: 30px * $k;
        font-weight: 700;
        line-height: 64px * $k;
        letter-spacing: 0.6px * $k;
    }
    &__list {
        @extend .strategy_text;
        color: #A19FAA;
        font-size: 45px * $k;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 28px * $k;
        margin-bottom: 50px * $k;
        &__item {
            font-weight: 700;
            line-height: 64px * $k;
            letter-spacing: 0.9px * $k;
        }
    }
}

.strategy_img {
    width: 766px * $k;
    height: 571px * $k;
    img {
        width: 100%;
        height: 100%;
    }
}

