@import '../../index';

.head_container {
  display: flex;
  flex-direction: column;
  gap: 61px * $k;
}

.head_title {
  color: #000;
  font-size: 50px * $k;
  font-weight: 700;
  line-height: 96px * $k;
  padding-left: 42px;

}

.head_line {
  margin: 0 auto;
  width: 1755px * $k;
  height: 1px * $k;
  background-color: #000;
}